header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  height: 100px;
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
}
header .header-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
header .header-wrapper .logo {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header .header-wrapper .logo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-wrapper .logo p {
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
header .header-wrapper .menu {
  display: block;
}
header .header-wrapper .menu ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .menu ul li {
  margin: 0 15px;
}
header .header-wrapper .menu ul li:hover a {
  color: #5e2ced;
}
header .header-wrapper .menu ul li a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
header .header-wrapper .menu-mobile {
  display: none;
}
header .header-wrapper .menu-mobile .hamburger {
  position: relative;
}
header .header-wrapper .menu-mobile .hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
header .header-wrapper .menu-mobile .hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(-44deg) translate(0px, 0px);
  background: #0fc3a7;
}
header .header-wrapper .menu-mobile .hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header .header-wrapper .menu-mobile .hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(40deg) translate(-7px, -9px);
}
header .header-wrapper .menu-mobile .hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0fc3a7;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header .header-wrapper .menu-mobile .hamburger span:first-child {
  transform-origin: 0% 0%;
}
header .header-wrapper .menu-mobile .hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header .header-wrapper .menu-mobile ul {
  display: none;
  height: 100vh;
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 20px;
  list-style: none;
  top: 70px;
}
header .header-wrapper .menu-mobile ul li {
  margin: 10px 0 20px;
  position: relative;
}
header .header-wrapper .menu-mobile ul li:last-child::after {
  display: none;
}
header .header-wrapper .menu-mobile ul li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  height: 1px;
  width: 100%;
  background: #0fc3a7;
}
header .header-wrapper .menu-mobile ul li a {
  text-decoration: none;
  color: #0fc3a7;
  font-size: 16px;
  font-weight: 400;
}
header .header-wrapper .menu-mobile ul li.mob-dropdown::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  border-top: 8px solid #0fc3a7;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transition: all 0.3s ease-in-out;
}
header .header-wrapper .menu-mobile ul li.mob-dropdown ul {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  position: relative;
  width: 100%;
  left: 0;
  padding: 0px 15px 5px;
  list-style: none;
  top: 0;
}
@media only screen and (max-width: 1110px) {
  header .inner-dropdown-menu {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  header {
    background: #021a36;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  header .top-nav {
    background: #021a36;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  header .header-wrapper .menu {
    display: none;
  }
  header .header-wrapper .menu-mobile {
    display: block;
  }
}/*# sourceMappingURL=header.css.map */