.our-partner {
    // background: #5e2ced;
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
            height: 80px;
            width: 100%;
        }
    }
}